$bgColor: #F8F8F8;
$secondBgColor: #FFF;

$mainTextColor: #1B1C21;
$secondTextColor: #7E7E82;
$placeholderColor: #B5B6BC;

$sectionBorder: #D9FFF5;
$mainBorderColor: #EAEAEA;

// buttons colors
$buttonBorderColor: #FF3E79;
$buttonActiveBg: #EBEBEB;

// swiper
$bulletColor: #DDDDDD;
$activeBulletColor: #B5B6BC;
